<article class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <header class="mdl-card__title">
        <h1 class="mdl-card__title-text"><a class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon" href="{{ include.post.url }}"><i class="material-icons">link</i></a>{{ include.post.title }}</h1>
        <h2 class="mdl-card__subtitle-text">{{ include.post.date | date: "%B %d, %Y" }}</h2>
    </header>
    <section class="mdl-card__supporting-text">
        {% if include.full_content %}
            {{ include.post.content }}
        {% else %}
            {{ include.post.excerpt }}
            <p>...</p>
        {% endif %}
    </section>
    <footer class="mdl-card__actions mdl-card--border">
        <span class="mdl-chip"><span class="mdl-chip__text">{{ include.post.category }}</span></span>
        {% for tag in include.post.tags %}
            <span class="mdl-chip"><span class="mdl-chip__text">{{ tag }}</span></span>
        {% endfor %}
    </footer>
</article>
