---
layout: default
---
<article class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <header class="mdl-card__title">
        <h1 class="mdl-card__title-text"><button class="mdl-button mdl-js-button mdl-button--icon"><a href="{{ page.url }}"><i class="material-icons">link</i></a></button>{{ page.title }}</h1>
        <h2 class="mdl-card__subtitle-text">{{ page.date | date: "%B %d, %Y" }}</h2>
    </header>
    <section class="mdl-card__supporting-text">
        {{ page.content }}
    </section>
    <footer class="mdl-card__actions mdl-card--border">
            <span class="mdl-chip"><span class="mdl-chip__text">{{ page.category }}</span></span>
            {% for tag in page.tags %}
                <span class="mdl-chip"><span class="mdl-chip__text">{{ tag }}</span></span>
            {% endfor %}
        </section>
    </footer>
</article>
