/* BEGIN general sizing */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/* END general sizing */

/* BEGIN item nav layout */
.item-nav {
    display: flex;
    justify-content: center;
}
.item-nav .mdl-button {
    margin: 5px;
}
/* END item nav layout */

/* BEGIN fix for subtitle alignment */
/* see https://github.com/google/material-design-lite/issues/1002 */
.mdl-card__title {
        flex-direction: column;
        justify-content: flex-end;
}

.mdl-card__title-text, .mdl-card__subtitle-text {
    align-self: flex-start;
}
/* END fix for subtitle alignment */
