main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* BEGIN fix for subtitle alignment */
/* see https://github.com/google/material-design-lite/issues/1002 */
.mdl-card__title {
        flex-direction: column;
        justify-content: flex-end;
}

.mdl-card__title-text, .mdl-card__subtitle-text {
    align-self: flex-start;
}
/* END fix for subtitle alignment */
